// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,400&display=swap');
// Define fonts for body and headers
$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto Serif', serif;

@font-face {
  font-family: "Roboto-Italic";
  src: url("Roboto-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.ttf") format('truetype');
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p {
  margin-bottom: 0.5rem;
  line-height: 1rem;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  font-size: 0.75rem;
}

strong {
  font-weight: 600 !important;
  font-family: 'Roboto', sans-serif;
}

.trix-content {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
