// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Define fonts for body and headers
$body-font: 'Roboto Serif', serif;
$headers-font: 'Roboto Serif', serif;

#non-serif {
  font-family: 'Roboto', sans-serif;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p {
  margin-bottom: 0.5rem;
  line-height: 1rem;
  // text-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  font-size: 0.75rem;
}

strong {
  // font-family: "Roboto Serif" !important;
  font-weight: 700;
}

// .trix-content {
//   text-shadow: 0px 2px 3px rgba(0,0,0,0.25);
// }

.text-sm {
  font-size: 0.75rem;
}