.eventos-outer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventos {
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
  height: 80vh;
}

.eventos-row {
  display: flex;
  justify-content: center;

  &:first-child {
    margin-bottom: 1rem;
  }

  h5 {
    max-width: 10vw;
  }
}

.eventos-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  padding: 0.5rem;
  border-radius: 10px;
  width: 12vw;
  justify-content: space-between;
  margin-right: 1rem;

  p {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  img {
    height: 22vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }

  .evento-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  p:nth-child(3), p:nth-child(4) {
    margin-bottom: 0;
  }
}