.building {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    transform: scale(0.5);
  }
}

.text {
  background-color: $white;
  box-shadow: 0 0 2px 10px #FFFFFE, 2px 2px 2px 10px rgba(0,0,0,0.25);
  border-radius: 2px;
  line-height: 0.5rem;
}

.home-outer {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.home3 {
  background-image: asset-url("wetransfer/version_computadora_sm.png");
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: 119%;
  background-repeat: no-repeat;
  background-position: 0%;
  position: relative;
  top: 0;
}

.building-3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventos-home {
  background-image: asset-url("inicio/Eventos.png");
  height: 30vh;
  width: 40vw;
  transform: translate(-20%, 75%);
  transition: 0.5s ease all;

  &:hover {
    transform: translate(-20%, 75%) scale(1.25);
  }

  .text {
    transform: translate(40px, -50px);
  }
}

.tienda-home {
  background-image: asset-url("inicio/Tienda.png");
  transform: translate(90%, -35%);
  height: 40vh;
  width: 20vw;
  transition: 0.5s ease all;

  &:hover {
    transform: translate(90%, -35%) scale(1.25);
  }

  .text {
    transform: translate(20px, 0px);
  }
}

.showroom-home {
  background-image: asset-url("inicio/showroom.png");
  transform: translate(205%, -140%);
  height: 35vh;
  width: 20vw;
  transition: 0.5s ease all;

  &:hover {
    transform: translate(205%, -140%) scale(1.25);
  }
}

.quienes-somos-home {
  background-image: asset-url("inicio/cartel_publicitario_copy.png");
  transform: translate(266%, -255%);
  height: 38vh;
  width: 20vw;
  transition: 0.5s ease all;

  &:hover {
    transform: translate(275%, -270%) scale(1.25);
  }

  img {
    width: 6vw;
  }

  div {
    transform: translate(4px, -44px);
    width: 13vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }

  .text {
    width: 4vw;
    text-align: center;
    line-height: 1rem;
    transform: translate(-27px, 10px);
  }
}


.talleres-home {
  background-image: asset-url("inicio/Talleres.png");
  transform: translate(373%, -260%);
  height: 35vh;
  width: 20vw;
  transition: 0.5s ease all;

  &:hover {
    transform: translate(373%, -260%) scale(1.25);
  }

  .text {
    transform: translate(30px, -47px);
  }
}

.politica-home {
  transition: 0.5s ease all;
  position: absolute;
  bottom: 11vh;
  left: 30vw;

  &:hover {
    transform: scale(1.25);
  }

  img:first-child, img:nth-child(2) {
    height: 25vh;
  }

  img:nth-child(2) {
    position: relative;
    z-index: -1;
    margin-left: -4vw;
  }

  .text {
    transform: translate(0px, 38px);
  }
}



// background
.grass {
  position: absolute;
}

.lake {
  bottom: 4vh;
  position: absolute;
  left: 5vw;
  width: 16vw;
}

.grass-1 {
  transform: rotate(45deg);
  width: 26vw;

  top: 20vh;
  left: -1vw;
}

.grass-2 {
  z-index: -1;
  left: 18vw;
  bottom: -23vh;
  transform: rotate(-31deg);
  width: 33vw;
}

.grass-3 {
  right: 28vw;
  top: 25vh;
  transform: rotate(45deg);
}

.grass-4 {
  width: 40vw;
  bottom: -32vh;
  right: -9vw;
  transform: rotate(55deg);
}

.home-upper {
  position: absolute;
  top: 0;
}

.sign {
  position: absolute;
  bottom: 30vh;
  right: 0;
  width: 10vw;
}

.cloud-1 {
  position: absolute;
  top: 7vh;
  left: 34vw;
  width: 20vw;
  z-index: -1;
}

.cloud-2 {
  position: absolute;
  top: 11vh;
  right: 9vw;
  width: 18vw;
  z-index: -1;
}

.item {
  position: absolute;
  border-radius: 0.25em;
}

.item-1 {
  top: 10vh;
  height: 12vh;
  left: 39vw;
}

.item-2 {
  top: 8vh;
  height: 8vh;
  left: 48vw;
}

.item-3 {
  top: 10vh;
  height: 15vh;
  right: 15vw;
}

.info-home {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #FFFFFE;
  padding: 5px;
  font-size: 0.75rem;
  max-width: 25vw;
  position: absolute;
  bottom: 10vh;
  left: 50vw;
  cursor: pointer;

  p {
    margin: 0;
  }
}