.home_mobile {
  position: relative;
  background-image: asset-url("mobile/background-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 6vh;
  background-position: center;
  padding-top: 5vh;

  // img {
  //   position: absolute;
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: contain;
  // }

  a {
    height: 30vh;
    width: 47vw;
    display: block;
  }

  #link-tienda {
    transform: translate(40px, 150px);
  }
  #link-showroom {
    transform: translate(198px, -35px);
  }

  #link-quienes_somos {
    transform: translate(1px, -45px);
  }

  #link-talleres {
    transform: translate(179px, -318px);
  }

  #link-eventos {
    position: absolute;
    bottom: 4vh;
    left: 6vw;
  }
}

.billboard-box-mobile {
  display: flex;
  position: absolute;
  right: 19vw;
  top: 16vh;
  width: 24vw;
  height: 6vh;
  max-width: 24vw;
  max-height: 6vh;
  justify-content: center;
  align-items: center;
}

.billboard-text-mobile {
  text-align: center;
  // position: absolute;
  // right: 19vw;
  // top: 17vh;
  // max-width: 24vw;
  font-size: 1rem;
}