.home_mobile {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    height: 30vh;
    width: 47vw;
    display: block;
  }

  #link-tienda {
    transform: translate(40px, 150px);
  }
  #link-showroom {
    transform: translate(205px, -85px);
  }

  #link-quienes_somos {
    transform: translate(1px, -85px);
  }

  #link-talleres {
    transform: translate(189px, -128px)
  }

  #link-eventos {
    transform: translate(5px, -128px);
  }

}
