// Import page-specific CSS files here.
@import "home";
@import "showroom";
@import "quienes_somos";
@import "politica_de_cambio";
@import "talleres";
@import "talleres_new";
@import "taller_show";
@import "eventos";
@import "evento_show";
@import "home_mobile";
@import "showroom_mobile";
@import "quienes_somos_mobile";
@import "wpp_footer";
@import "politica_de_cambio_mobile";
@import "tienda";
@import "talleres_mobile";
@import "eventos_mobile";
