.quienes-somos {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 7.25vw;
  height: 100vh;

  & img {
    height: 80vh;
    width: 100%;
    object-fit: contain;
  }
}

.quienes-somos-right {
  display: flex;
  align-items: center;

  div:first-child {
    max-width: 40vw;
    margin: 0 auto;
  }

  p {
    font-size: 1rem;
    text-shadow: none;
  }
}
