.quienes-somos-mobile {
  display: gird;
  grid-template-columns: 1fr;
}

.quienes-somos-text {
  margin: 0;
  margin-top: 48px;
  padding: 0 48px;
  box-sizing: border-box;
}

.quienes-bottom {
  background-image: asset-url("quienes_somos/quienes_somos_left.png");
  height: 62vh;
  width: 100vw;
  background-size: cover;
}

#quienes-somos-img {
 background-size: cover;
 height: 60vh;
 width: 100vw;
}

.wpp-icon-quienes {
 height: 100vh;
}

.img-container {
  height: 100vh;
}
