.quienes-somos-mobile {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  margin: 6vh auto 0 auto;
}

.quienes-somos-text {
  margin: 0;
  margin-top: 48px;
  padding: 0 48px;
  box-sizing: border-box;

  p {
    font-size: 13px;
  }
}



.quienes-bottom {
  background-image: asset-url("quienes_somos/quienes_somos_left.png");
  height: 60vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#quienes-somos-img {
 background-size: cover;
 height: 60vh;
 width: 100vw;
}

.wpp-icon-quienes {
 height: 100vh;
}

.img-container {
  height: 100vh;
}
