.showroom {
  display: grid;
  grid-template-columns: 3fr 4fr;

  & > img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.showroom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > img {
    height: 20vw;
    width: 100%;
    object-fit: contain;
  }
}

.showroom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 11vh 5vw 0 5vw;
}

.shadow-center {
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.75rem;
}

.linea {
  width: 100%;
}