.showroom {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 7.25vw;

  & > img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.showroom-grid {
  display: grid;
  grid-template-columns: 3fr 3fr;

  & > img {
    height: 20vw;
    width: 100%;
    object-fit: contain;
  }
}

.showroom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 11vh;
}

.showroom-info {
  border-bottom: 2px solid rgba(0,0,0,0.25);
}

.shadow-center {
  box-shadow: 2px 2px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  text-align: center;
}