.showroom_mobile {
  display: grid;
  grid-template-columns: 1fr;
}

.showroom_mobile_top {
  height: 40vh;
  padding: 10vh 4vw;
}

.showroom_mobile_bottom{
  background-image: asset-url("showroom/showroom_pagina.png");
  height: 60vh;
  width: 100vw;
  background-size: cover;
}

.showroom_message {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.subtitle {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

#wpp-logo-showroom {
  height: 36px;
  width: 36px;
}


#mail-logo {
  height: 32px;
  width: 42px;
}

#location-logo {
  height: 42px;
  width: 32px;
}

.showroom-linea {
  display: flex;
  margin: 0 auto;
}

#linea {
  height: 18px;
  width: 90%;
}

.showroom_contact {
  margin: 20px 0;
  p {
    margin: 0;
    font-size: 16px;
  }
}

.bottom-text {
  padding: 2px;
  margin: 3vh 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  background-color: white;
}

.inside-text {
  margin: 0;
  padding: 8px;
  font-size: 18px;
  text-align: center;
}

.icon-bottom{
  height: 72%;
  display: flex;
  margin: 50px 24px;
  justify-content: end;
  align-items: flex-end;
}
