.tienda {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-top: 10vh;

  a {
    text-decoration: none;
  }
}

.tienda-left {
  background-image: asset-url("tienda_online/espejo_byn.png");
  height: 90vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin-right: 1vw;
  }
}

.tienda-right {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    height: 10vh;
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
  }
}

.tienda-btn, .tienda-btn-mobile {
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 3px rgba(0,0,0,0.25);

  p {
    margin-bottom: 0;
  }

  i {
    color: rgba(0,0,0,0.25);
  }
}

.tienda-btn {
  width: 10vw;
}