<div class="admin">
  <%= link_to "+ Taller", new_workshop_path %>
  <%= link_to "+ Evento", new_event_path %>
  <%= link_to "Cambiar productos en promoción", new_item_path %>
  <%= link_to "Cambiar texto de cartel", new_billboard_path %>
</div>