<div class="home2">
  <div class="building tienda-home">
    <p class="text">Tienda Brindis</p>
  </div>

  <div class="building showroom-home">
    <p class="text">Showroom</p>
  </div>

  <div class="building politica-home">
    <p class="text">Politica de cambio</p>
  </div>
</div>