<div class="home">
  <div class="home-grid">
    <div></div>
    <%= link_to showroom_path do %>
    <% end %>
    <div class="inner-grid">
      <%= link_to quienes_somos_path, class: "inner-grid-item" do %>
      <% end %>
      <%= link_to politica_de_cambio_path, class: "inner-grid-item" do %>
      <% end %>
    </div>
    <%= link_to talleres_path do %>
    <% end %>

    <div></div>
    <div class="info-grid">
      <p>Proyecto Brindis invita a la creación de prendas cómodas y versátiles. Usar brindis es vestir con estilo. Es aceptarnxs y aceptar a todxs. Somos un proyecto familiar, creado por tres hermanas que surge como una opción alternative a la industria de la moda. Buscamos generar una producción humana y consciente dentro de nuestras posibilidades.</p>
    </div>
    <div></div>
  </div>
</div>