<div class="container politica-de-cambio">
  <p>Si no estás conforme con nuestro producto, puedes realizar un cambio del mismo de alguna de las siguientes formas:</p>

  <p>
    Ponte en contacto a
    <br>
    <strong class="text-decoration-underline">brindiespumante@gmail.com</strong>
  </p>

  <p>
    Podrás cambiar el producto por otro del mismo valor.
    <br>
    En caso de querer cambiarlo, deberás acercarte a nuestro local en Colegiales. Nosotros nos hacemos cargo en situaciones donde el producto llegue con algún error.
  </p>

  <p>Los cambios sólo pueden ser realizadas durante los 30 días siguientes a la compra para evitar que te cobremos el pedido de cambio.</p>

  <p><strong>No tenemos devolución.</strong></p>

  <div class="politica-images">
    <%= image_tag "carito_location_mail_whp/Icono_Planta.png" %>
    <%= image_tag "inicio/basura.png" %>
  </div>
</div>
