<div class="quienes-somos">

  <div class="d-flex align-items-end">
    <%= image_tag "quienes_somos/quienes_somos_left.png" %>
  </div>

  <div class="quienes-somos-right">
    <div>
      <p id="non-serif">Somos tres hermanas creando un proyecto de indumentaria. Buscamos ofrecer <strong>comodidad y estética</strong> a través de un proceso de <strong>moda lenta.</strong> Queremos generar una producción <strong>consciente</strong>, y a la vez <strong>original.</strong> Esta nos involucra en el armado de las prendas de principio a fin; en su diseño, corte, teñido, estampado, confección, packaging.</p>
      <p id="non-serif">Nos encontramos creando nuevas ideas, disfrutando del proceso, e involucrando a nuestrxs clientes para alcanzar productos bellos y únicos.</p>
      <p id="non-serif">
        <strong>Esperamos que les guste :)</strong>
      </p>
    </div>
  </div>
</div>
