<div class="showroom_mobile">
  <div class="showroom_mobile_top">
    <div class="showroom_message">
     <p class="inside-text">Cualquier consulta no dudes en mandarnos un mensaje :)</p>
    </div>
    <div class="showroom_contact">
      <p><%= image_tag "carito_location_mail_whp/logo_wpp.png", id: "wpp-logo-showroom" %> +5491130824325</p>
      <p><%= image_tag "carito_location_mail_whp/icono_mail.png", id: "mail-logo" %>brindisespumante@gmail.com</p>
      <p><%= image_tag "carito_location_mail_whp/icono_location.png", id: "location-logo" %>Cespedes 3146, entre Conde y Cap.Gral. Ramón Freire</p>
      <div class="subtitle">
        <%= image_tag "showroom/linea.png", id: "linea" %>
        <h3><strong>SHOWROOM</strong></h3>
      </div>
    </div>
  </div>
  <div class="showroom_mobile_bottom">
    <div class="bottom-text">
      <strong><p class="inside-text">Lunes a Viernes de 13 a 18hs, con previo aviso para retirar</p></strong>
    </div>
  </div>
</div>
