<div class="showroom_mobile">
  <div class="showroom_mobile_top">
    <div class="showroom_message">
     <p class="inside-text" id="non-serif"><em>Cualquier consulta no dudes en mandarnos un mensaje :)</em></p>
    </div>
    <div class="showroom_contact">
      <div style="padding: 0 1rem;">
        <div class="d-flex align-items-center" style="text-decoration: underline;"><%= image_tag "logo_wpp.png", id: "wpp-logo-showroom" %><p style="margin-left: 0.6rem;" id="non-serif">+5491130824325</p></div>
        <p style="text-decoration: underline;" id="non-serif"><%= image_tag "icono_mail.png", id: "mail-logo" %>brindisespumante@gmail.com</p>
        <div class="d-flex"><%= image_tag "icono_location.png", id: "location-logo" %><p style="margin-left: 0.75rem;" id="non-serif">Cespedes 3146, entre Conde y Cap.Gral. Ramón Freire<p></div>
      </div>
      <div class="subtitle">
        <%= image_tag "showroom/linea.png", id: "linea" %>
        <h3 id="sub-showroom"><em id="non-serif" style="font-weight: normal;">SHOWROOM</em></h3>
      </div>
    </div>
  </div>
  <div class="showroom_mobile_bottom">
    <div class="bottom-text">
      <strong><p class="inside-text" id="non-serif">Showroom abierto Martes y Miercoles de 14 a 18hs
      <br>Disponibilidad para retirar Lunes a Viernes de 14 a 18hs</p></strong>
    </div>
  </div>
</div>

