.button-grey {
  background-color: rgb(180,180,180);
  border-radius: 20px;
  padding: 8px 32px;
  border: none;
  color: white;

  &:hover {
    color: white;
  }
}

.button-white {
  background-color: white;
  border-radius: 20px;
  padding: 8px 32px;
  border: none;
}