.contact-form {
  background-color: rgb(225,225,225);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 2rem;

  p {
    font-size: 1rem;
  }

  textarea {
    height: 4rem;
  }
  
  input:nth-child(3), textarea {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }

  input:nth-child(3) {
      height: 2rem;
    }
}