.contact-form {
  background-color: rgb(225,225,225);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 2rem;

  p {
    font-size: 1rem;
  }

  input {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;

    &:first-child {
      height: 2rem;
    }

    &:last-child {
      height: 7rem;
    }
  }
}