.contact-form {
  background-color: rgb(225,225,225);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 2rem;
  align-items: center;
  transition: 0.25s ease all;

  & > div > input, textarea {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }

  & > div > input {
    height: 2rem;
  }

  div {
    width: 100%;
  }

  p {
    font-size: 1rem;
  }

  label {
    margin-bottom: 0.25rem;
  }

  textarea {
    height: 4rem;
  }
}

.new-form, .edit-form {
  max-width: 45vw;
}

.new-form {
  margin-top: 20vh;
}

#contact_order_number, #contact_time {
  border: none;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}