* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: relative;
}

.slider__container {
  cursor: grab;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider__container.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}

.slider__item {
  padding: 0.75rem;
  flex: 0 0 auto;
  width: calc(100% / 7);
  background-color: rgb(225,225,225);
  border-radius: 20px;
  font-size: 0.75rem;
  margin-right: 1rem;
}

.slider__container[data-step="4"] .slider__item {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider__container[data-step="3"] .slider__item {
  width: calc(100% / 3);
}

.slider__container[data-step="2"] .slider__item {
  width: calc(100% / 2);
}

.slider__container[data-step="1"] .slider__item {
  width: calc(100% / 1);
}

@media screen and (max-width: 1024px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 480px) {
  .slider__item,
  .slider__container[data-step="4"] .slider__item,
  .slider__container[data-step="3"] .slider__item,
  .slider__container[data-step="2"] .slider__item {
    width: calc(100% / 1);
  }
}

.slider__control {
  font-size: 16px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000;
  transition: all .3s;
  background: transparent;
}

.slider__control.prev {
  left: 16px;
}

.slider__control.next {
  right: 16px;
}

.slider__control:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.slider__item img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;

  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10; // number of lines
  -webkit-box-orient: vertical;  
  overflow: hidden;
}