.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10; // number of lines
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; // number of lines
  -webkit-box-orient: vertical;  
  overflow: hidden;
}