.navbar-mobile {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 4vw 0 4vw;
  z-index: 101;
  background: $white;

  & a {
    text-decoration: none;
    color: $black;
  }
}

.navbar-flex-mobile {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}

.logo-mobile {
  height: 6vh;
}

.menu-mobile {
  font-size: 24px;
}



// side menu
.side-menu-mobile {
  width: 65vw;
  background-color: $white;
  position: absolute;
  transform: translate(-340px, 0px);
  transition: 0.5s ease all;
  top: 0;
  left: 0;
  padding-top: 9vh;
  z-index: 10;
}

.menu-display {
  transform: translate(0px, 0px);
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: black;
  opacity: 0.25;
}


#slide-img {
  height: 113px;
  width: 86px;
  object-fit: contain;
  margin-left: 2vw;
}

#inicio {
  margin: auto auto auto 1rem;
  font-size: 16px;
}

.side-inicio {
  display: flex;
  margin-bottom: 16px;
}

// to be added to .home_mobile when menu opens
.bg-fixed {
  position: relative;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#remove_underline {
  text-decoration: none;
    :hover {
      text-decoration: underline;
    }
}

.menu-overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
