.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;

  & a {
    text-decoration: none;
    color: $black;
  }
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}

.logo {
  height: 5vh;
}